{% extends "::base.html.twig" %}
{% block title %}重置密码{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>重置密码</h2>
    </div>
</div>
{% endblock page_title %}
{% block wrapper %}
<div class="row-fluid">
    <div id="wrapper" class="full lr-page span4 offset4">
        <div class="row-fluid">
            <div id="login-form" class="span12">
                {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}

